body {
    background-color: #ffffff;
}

.footer-body {
    height: calc(100vh - 150px);
}

#main {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

#links {
    width: 400px;
    text-align: left;
    font-size: x-large;
    color: white;
    display: flex;
    flex-direction: column;
}

#links a {
    color: white;
    text-decoration: none;
    margin-top: 20px;
    margin: 10px;
    border: white 1px solid;
    border-radius: 5px;
    padding: 10px;
}

#links a:hover {
    background-color: #1f1f1f;
    cursor: pointer;
}

#header {
    max-width: 1200px;
}

input[type=radio] {
    width: 24px;
    height: 24px;
}

.rangeInput{
  width: 90%;
  background: linear-gradient(to right, #FFE283 0%, #FFE283 50%, #ececec 50%, #ececec 100%);
  border-radius: 8px;
  outline: none;
  transition: background 450ms ease-in;
  -webkit-appearance: none;
  accent-color: #ffca1d;
}

input[type='date'] {
  border: none;
  position: relative;
  width: 100%;
  border-radius: 8px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  color: #2168c3;
  margin-bottom: 20px;
}



input[type='date']::-webkit-calendar-picker-indicator {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  color: transparent;
  cursor: pointer;
}

input[type='date']::before {
  content: attr(placeholder);
  width: 100%;
  height: 100%;
}

input[type='date']:valid::before {
  display: none;
}

.chart-container {
    display: flex;
    gap: 30px;
}

.chart-wrapper {
    width: 300px;
    height: 300px;
    position: relative;
}

.labels {
    display: flex;
    flex-direction: column;
    width: 200px;
    gap: 10px;
}

.label-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.color-box {
    width: 20px;
    height: 20px;
    border-radius: 5px;
}

.label-text {
    font-size: 16px;
}

/* input:focus, :hover {
    outline: none;
    color: transparent;
    -webkit-appearance: none;
} */